

html {
  background:#DFFFE6;
  background-image: url("assets/images/fondo.jpg");
  background-repeat: no-repeat;
}

body{
  align-content: center;
}
  
  
}
header {
  border: 10px solid #98CCC0;
  background:#499987;
  border-radius: 10px;
  text-align:center;
  cursor: pointer;
}


h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 30px;
  text-align:center;
  color:#A50F04;
  
}


span {
  font-family: 'Gloria Hallelujah', cursive;
  text-align:center;
  color:#000000;

}
p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px;
  text-align:center;
  color:#000000;

}

section {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 10em;
   width: 650px;
  padding: 10px;
  margin: 10px;

}


#NumeroEspacios {
  width: 40px;
  height: 20px;
  margin: 10px;
  align-content: center;
}

#instruB {
  margin: auto;
  width: 50%;
  max-width: 500px;
  max-height: 900px;
  background: #F3D34A;
  padding: 30px;
  border: 10px solid #AC3931;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  color:#000000;
  border-radius: 15px;
  cursor: pointer;
  justify-content: center;
  position: relative;;
}

#comenzar {
  margin: auto;
  width: 50%;
  max-width: 500px;
  max-height: 900px;
  background: #E0A11A;
  padding: 30px;
  border: 10px solid #663716;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:20px; 
  color:#000000;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

#comenzarD {
  margin: auto;
  width: 50%;
  max-width: 500px;
  max-height: 900px;
  background: #E0A11A;
  padding: 30px;
  border: 10px solid #663716;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:20px; 
  color:#000000;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  justify-content: centers;
}

#BtnIns {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#TextArea{
  display: flex;
  justify-content: center;
  
}

#NumeroE{
  display: flex;
  
  padding-left: 700px;

}

#botones {
  display:flex;
  justify-content: space-around;
}



#codificar {
  margin: auto;
  max-width: 200px;
  max-height: 400px;
  background: #D37126;
  padding: 2px;
  border: 3px solid #A5AA52;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 15px;
  color:#000000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;

}

#decodificar {
  margin: auto;
  max-width: 200px;
  max-height: 450px;
  background: #D37126;
  padding: 2px;
  border: 3px solid #A5AA52;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 15px;
  color:#000000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;

}

#refrescar {
  margin: auto;
  max-width: 200px;
  max-height: 450px;
  background: #D37126;
  padding: 2px;
  border: 3px solid #A5AA52;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 15px;
  color:#000000;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
  justify-content: right;
  
}

#mensajeOculto {
  border-radius: 5px;
  border: 2px solid #D37126;
  font-family: 'Gloria Hallelujah', cursive;
}

#mensajeDeco {
  border-radius: 5px;
  border: 2px solid #D37126;
  font-family: 'Gloria Hallelujah', cursive;
}

#NumeroEspacios {
  border-radius: 2px;
  border: 2px solid #D37126;
  font-family: 'Ubuntu Condensed', sans-serif;
  
}

#instrucciones {
  background-color: rgba(250, 235, 235, 0.322);
  width: 900px;
  
}

.hide {
  display: none;
}

.EnLinea {
  margin: 10px;
		
}
